.greetingForm {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 70px;
    margin-top: 31px;
    height: 300px;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;

}

.error {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
}

.input {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 36px;
    width:  300px;

}

.input:focus {
    border-radius: 2px solid #000000;
}

.errorInput {
    border: 1px solid #CC0000;
    border-radius: 5px;
}

.button {
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-left: 12px;
    border: none;
    color: white;
}

.button:focus {
    background: #0066CC;
    opacity: 0;
}

.button:active {
    background: #0066CC;
}

.button:disabled {
    background: #0066CC;
    opacity: 0.5;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
